<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Form Reset Password Form </title>
    <link rel="stylesheet" href="static/Form/css/style.css">
</head>
<body>
    <div class="container">
      <div class="wrapper">
        <div class="title-text">
            <div class="title login">Reset Password Form</div>
          </div>
        <div class="form-container">
          <div class="form-inner">
            <form action="/SubmitResetPassword" method="POST" class="Login">
              <div class="field">
                <input type="hidden" name="email" value="{{ email }}">
              </div>
              <div class="field">
                <input type="password" id="PPassword" name="PPassword" placeholder="Previous Password" required>
              </div>
              <div class="field">
                <input type="Password" id="RNewPassword" name="RNewPassword" placeholder="Reset New Password" required>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
  
    </div>

</body>
</html> 
